{% load staticfiles %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img width='20' height='20' alt="EvaluateMe" src="{% static 'img/favicon.ico' %}">
      </a>
      <a class="navbar-brand" href="#">
        EvaluateMe
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% url 'evaluation:instructions' as url_instructions %}
        <li class="{% ifequal request.path url_instructions %}active{% endifequal %}"><a href=" {% url 'evaluation:instructions' %} ">Инструкция</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li><a href=" {% url 'evaluation:eval_form' %} ">Новый пример</a></li>
      </ul>
      <ul class="nav navbar-nav">
      </ul>

      <ul class="nav navbar-nav">
      <form id="task_type_form" name="task_type_select" class="navbar-form navbar-left" role="search" method="POST" action="{% url 'evaluation:instructions' %}">
        {% csrf_token %}
        <select id="task_type_select" name="task_type_select" class="selectpicker form-control" title="Тип задачи">
            {% for tt in task_types %}
                <option
                    class="navbar-text"
                    {% ifequal task_type tt.get_pk_str %}selected=''{% endifequal %}
                    id="{{tt.get_pk}}"
                    value="{{tt.get_pk}}">
                    {{tt.get_name}}
                </option>
            {% endfor %}
        </select>
        <input type="submit" class="btn btn-default" value="Выбрать" />
      </form>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              User <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  {% if request.user.is_authenticated %}
                  <li class="navbar-text">Signed in as {{request.user}}!</li>
                  {% url 'evaluation:evaluated_list' as evaluated_list %}
                  <li class="{% ifequal request.path evaluated_list %}active{% endifequal %}"><a href=" {% url 'evaluation:evaluated_list' %} ">История оценок</a></li>
                  <li><a href="/accounts/logout/">Logout</a></li>
                  {% else %}
                  <li><a href="/accounts/login/">Login</a></li>
                  <li><a href="/accounts/register/">Sign Up</a></li>
                  {% endif %}
              </ul>
          </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
