{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<div class="col-sm-8 col-sm-offset-1" style="margin-top:40px;">
<form class="form-horizontal" method="post" action="">
    {% csrf_token %}
    {{ form | bootstrap_horizontal:'col-sm-4' }}
    <input class="btn btn-primary" style="float: right;" type="submit" value="{% trans 'Reset password' %}" />
</form>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
